header {
  background-color: #3c3a39;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

body {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.navbar {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
}

.ulnavbar {
  display: inline-flex;
}

h1 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 20px 0 20px;
}

div {
  padding: 120px 0;
}

.firstsection {
  background-image: url(./images/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

h2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 20px 0 20px;
}

.firstparagraph,
.aboutmeparragraph {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 20px 50px 20px;
}

img {
  height: 20px;
}

li {
  margin-right: 20px;
  list-style: none;
}

.socialmedia {
  display: inline-flex;
  margin: 20px 20px 0 0;
}

.storysection {
  background-color: #fff;
}

.underline {
  margin-left: -20px;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
  height: 1px;
  width: 100%;
}

.storytitle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  justify-content: center;
}

.storyimages2 {
  display: flex;
  justify-content: space-around;
}

.storyparragraph {
  color: #091e42;
  margin-left: 20px;
  margin-right: 20px;
}

.storysubtitle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.storyimages {
  display: flex;
  flex-direction: column;
}

.img1 {
  height: 20px;
}

.projectsection {
  background-image: url(./images/SecondPage/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
}

.projecttitle {
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  flex: none;
  padding-left: 10px;
  order: 0;
  flex-grow: 0;
  margin: 24px 0 20px 20px;
}

.projectbutton {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
  color: #fff;
  width: 100%;
  height: 48px;
  background-color: #ff6b00;
  justify-content: center;
}

.projectbutton:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.projectbutton:active {
  background: #e05304;
}

.projectbutton:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.aboutmebutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 161px;
  height: 48px;
  left: 24px;
  top: 395px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 20px;
  font-size: 17px;
  background-color: #ff6b00;
  color: #fff;
}

.aboutmebutton:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.aboutmebutton:active {
  background: #e05304;
}

.aboutmebutton:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.skill {
  margin-left: -27px;
  display: inline-flex;
}

.skill-image-tag {
  width: 90px;
  height: 50px;
}

.skill-image-tag1 {
  width: 45px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.secondmain {
  width: 100%;
  height: 100%;
  margin-left: -15px;
}

.projectparagraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0 150px 20px;
  color: #f4f5f7;
}

.aboutmesection {
  background-image: url(./images/aboutme/Frame.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.aboutmetitle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 20px 0 20px;
}

.resourceimages {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  margin: 0 32px 30px -30px;
}

.source {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.linemage {
  width: 15px;
  height: 15px;
}

.resourcesection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subline {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}

.informationsection {
  background-color: white;
  color: #172b4d;
  padding-bottom: 8px;
  margin: 0 20px 0 20px;
}

.informationtitle {
  display: flex;
  justify-content: center;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 0 0 30px 0;
}

.informationbutton {
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px auto;
  width: 131px;
  height: 48px;
}

.informationbutton:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.informationbutton:active {
  background: #e05304;
}

.informationbutton:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.informationsection input {
  margin: 0 25px 0 25px;
  width: 90%;
  border: none;
}

.underline2 {
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
  height: 1px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.undeline2line {
  margin: 0 20px 0 20px;
}

.textareainformation {
  margin: 30px 20px 10px 20px;
  width: 90%;
  border: none;
  background-color: #fbf8f7;
  border-radius: 8px;
}

.socialmedia2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.black-line {
  display: block;
  width: 134px;
  height: 5px;
  margin: 23px auto;
}

.gray-line {
  width: 100%;
  height: 1px;
}

.storybotton {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 20px 20px 0 20px;
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  color: #fff;
}

.storybotton:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.storybotton:active {
  background: #e05304;
}

.staybotton:disabled {
  background: #f4f1f0;
  color: #5b5957;
}
