@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

header {
  background-color: #3C3A39;
  width: auto;
  height: 50px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

h1 {
  color: #FF6B00;
  align-items: center;
  margin-top: 80px;
  margin-right: 24px;
  margin-left: 24px;
}

body {
  background-color: #1C1A19
  ;
}

h2 {
  color: #FFF5E1;
  width: auto;
  height: auto;
  margin-top: 40px;
  margin-right: 24px;
  margin-left: 24px;
}

p {
  color: white;
  width: auto;
  height: auto;
  margin-left: 24px;
  margin-right: 24px;
}

#label1 {
  background-color: gray;
  color: white;
}

img {
  height: 30px;
}

li {
  margin-bottom: 100px;
}